button.navbar-toggle {
	background-color: transparent;
}

div.navbar-header {
	background-color: #191919;
}

.facebookContainerLogin {
	margin-top: 1em;
}

.facebookContainerRegister {
	margin-top: 1em;
	margin-bottom: 1em;
}

.taskBody {
	text-align: justify;
	column-count: 2;
}

.categoryTag li {
	display: inline;
}

td,th {
	color: #eee;
}

.challengeNav {
	font-family: "Courier New", Courier, monospace;
	font-weight: 700;
  font-size: 19px;
	color: #eee;
	text-transform: uppercase;
/*font-size: 1.25em;*/
	margin-right: 0.5em;
}

.start > .challengeNav, .challengeNav.active{
	color: #F4B812 !important;
	text-decoration: none;
	font-size: 1.5em;
	margin-right: 0.5em;	
}

a.challengeNav:hover {
	text-decoration: none;
	color: #F4B812;
}

.table-responsive > a {
	text-decoration: none;
}

.challengeFootnote {
	margin-top: 0.5em;
  font-size: 0.75em;
  color: #eee;
}