/*@import "bourbon";*/

html { 
/*  background: url('../img/bg_1.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  height: 100%;
}

body {
/*	background-color: rgba(0,0,0,0.75);*/
	min-height: 100%;
}

.text-bkg {
	background-color: #e7e7e7;
	border-radius: 5px;
}

/* Header */
div.header{
    height: 60px;
    background: #191919;
}

div.header div.container{
	padding: 0;
}

div.header div.container img{
    height: 60px;
} 

#header-container {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 1em;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

#left-nav {
	padding-left: 0px;
}

#footer {
	background: #191919;
	margin-top: 64px;
  height: 60px;
  width: 100% !important;
  position: absolute;
  bottom: 0;
}
#footer p{
	font-weight: bold;
	color: #eee;
	margin-top: 23px;
}
div.prog{
	padding: 0;
}
.progress-bar{
	background-color: #6d6d6d;
}

.task-title {
	margin-top: 64px;
	margin-bottom: 1em; 
	color: #191919; 
	background-color: #E7E7E7;
	border-radius: 5px;
}

.solution-submit-button {
	background: #2d2d2d;
	border-radius: 0;
	border: none;
	padding: 10px 25px;
	float: right;
	margin-top: 22px;
}

.solution-submit-button:hover {
	background: #F4B711;
}


div.register{
	margin: 128px auto;
	border-radius: 5px;
	background: rgba(250,250,250,0.95);
	padding-top: 28px;
	padding-bottom: 42px;
}
div.register input{
	border-radius: 0;
}
div.register hr{
	border-color: #ccc;
	width: 84%;
}
div.register button{
	background: #2d2d2d;
	border-radius: 0;
	border: none;
	padding: 10px 25px;
	float: right;
	margin-top: 22px;
}
div.register button:hover{
	background: #F4B711;
}

.editor{
	background: #191919;
	height: 460px;
	color: #CC9A12;
}
.text-bkg textarea{
		resize: none;
}

/**********************************/
.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: left !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right: -15px !important;
}

.navbar-right{
  float: right !important;
}
/**********************************/

